<nav class="pagination" aria-label="Pagination navigation">

    @if (totalPages > 1) {

    <!-- Previous -->
    <button class="btn btn--ghost btn--sm" (click)="previousPage()" [disabled]="currentPage === 1"
        aria-label="Previous page">
        <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20px" height="20px"
            fill="currentColor">
            <g id="_01_align_center" data-name="01 align center">
                <path d="M13.775,18.707,8.482,13.414a2,2,0,0,1,0-2.828l5.293-5.293,1.414,1.414L9.9,12l5.293,5.293Z" />
            </g>
        </svg>
    </button>

    @for(page of pages; track page){
    <!-- Page numbers -->
    <button class="btn btn--ghost btn--sm" [class.pagination__btn--active]="page === currentPage"
        (click)="goToPage(page)" [attr.aria-current]="page === currentPage ? 'page' : null">
        {{ page }}
    </button>
    } <!-- for.end -->

    <!-- Next -->
    <button class="btn btn--ghost btn--sm" (click)="nextPage()" [disabled]="currentPage === totalPages"
        aria-label="Next page">
        <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20px" height="20px"
            fill="currentColor">
            <g id="_01_align_center" data-name="01 align center">
                <path d="M10.811,18.707,9.4,17.293,14.689,12,9.4,6.707l1.415-1.414L16.1,10.586a2,2,0,0,1,0,2.828Z" />
            </g>
        </svg>
    </button>
    } <!-- if.end -->
</nav>